@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
html {
    scroll-behavior: smooth;
   box-sizing: border-box;
    user-select: none;
    width: 100vw;
    overflow-x: hidden;
  }
  
  /* Link hover states */
  a {
    transition: all 0.2s ease;
  }
  
  a:hover {
    opacity: 0.8;
  }
  

  
